@model List<Bloggie.Web.Models.Domain.Tag>

@{
}


<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Show All Tags - Admin Functionality</h1>
    </div>
</div>
@if (TempData["SuccessMessage"] != null)
{
    <div id="success-toast" class="toast align-items-center" style="margin:auto" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            @TempData["SuccessMessage"]
        </div>
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div id="success-toast" class="toast align-items-center" style="margin:auto" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            @TempData["ErrorMessage"]
        </div>
    </div>
}
<div class="container py-5">
    @if (Model != null && Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Display Name</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var tag in Model)
                {
                    <tr>
                        <td>@tag.Id</td>
                        <td>@tag.Name</td>
                        <td>@tag.DisplayName</td>
                        <td>
                            <a asp-area="" asp-controller="AdminTags"
                               asp-action="Edit"
                               asp-route-id="@tag.Id">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="pagination">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    @if (ViewBag.PageIndex > 1)
                    {
                        <li class="page-item">
                            <a class="page-link" href="@Url.Action("List", new { page = ViewBag.PageIndex - 1 })" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    }
                    @for (int i = 1; i <= ViewBag.TotalPages; i++)
                    {
                        <li class="page-item @(i == ViewBag.PageIndex ? "active" : "")">
                            <a class="page-link" href="@Url.Action("List", new { page = i })">@i</a>
                        </li>
                    }
                    @if (ViewBag.PageIndex < ViewBag.TotalPages)
                    {
                        <li class="page-item">
                            <a class="page-link" href="@Url.Action("List", new { page = ViewBag.PageIndex + 1 })" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    }
    else
    {
        <p>No tags found!</p>
    }
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var successToast = document.getElementById('success-toast');

        if (successToast) {
            console.log('Success toast found');
            var toast = new bootstrap.Toast(successToast);
            toast.show();

            setTimeout(function () {
                toast.hide();
            }, 2000); // Set the time in milliseconds (2 seconds in this example)
        } else {
            console.log('Success toast not found');
        }
    });

</script>